/* Global styles
-------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

#wrap {
	margin-bottom: 60px;
	padding-bottom: 60px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	background-color: red; /*testing*/
	line-height: 60px;
}

#footer p {
	margin: 0;
}

#footer .links {
	list-style: none;
}

#footer .links li {
	display: inline-block;
	margin-left: 20px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template method. */
